.map {
    min-height: 400px;
    border: 1px solid #ccc;
    margin-top: 120px;
    position: relative;
  }
  .map .form-map {
    position: absolute;
    margin-top: -480px;
    width: 400px;
    margin-left: 383px;
    height: 598px;
    background: linear-gradient(179.51deg, rgba(255, 255, 255, 0.703125) -14.96%, #FFFFFF 13.05%, rgba(255, 255, 255, 0) 90.69%), #AAAAAA;
  }
  @media screen and (max-width: 1680px) {
    .map .form-map {
      margin-left: 263px;
    }
  }
  @media screen and (max-width: 1536px) {
    .map .form-map {
      margin-left: 191px;
    }
  }
  @media screen and (max-width: 1440px) {
    .map .form-map {
      margin-left: 143px;
    }
  }
  @media screen and (max-width: 1366px) {
    .map .form-map {
      margin-left: 106px;
    }
  }
  @media screen and (max-width: 1280px) {
    .map .form-map {
      margin-left: 63px;
    }
  }
  @media screen and (max-width: 1200px) {
    .map .form-map {
      margin-left: 35px;
      width: 300px;
    }
  }
  @media screen and (max-width: 850px) {
    .map .form-map {
      display: none;
    }
  }
  .map .form-map .form-block {
    padding-top: 100px;
  }
  .map .form-map .form-title {
    font-weight: bold;
    font-size: 36px;
  }
  .map .btn-bottom {
    position: absolute;
    margin-top: -140px;
    margin-left: 218px;
  }
  @media screen and (max-width: 500px) {
    .map .btn-bottom {
     display: none;
     
    }
  }
  .map .btn-bottom a {
    background: #000;
    border: 1px solid #000;
    display: block;
    text-align: center;
    line-height: 3;
    color: #fff;
  }
  @media screen and (max-width: 500px) {
    .map .btn-bottom a {
      background: transparent;
      border: 0px solid #000;
    }
  }
  footer {
    background: #000;
  }
  footer .my-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (max-width: 780px) {
    footer .my-wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
    .map .btn-bottom {
      margin: auto;
      
      position: absolute;
      margin-top: -165px;
      margin-left: 103px;
    }
  }
  footer .my-wrapper .big-footer-block .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    color: #fff;
    align-items: center;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-bottom {
      display: block;
      color: #fff;
    }
  }
  footer .my-wrapper .big-footer-block .footer-bottom .our-block {
    background: url(../images/our-logo.png) no-repeat;
    width: 218px;
    height: 45px;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-bottom .our-block {
      margin: 10px auto;
    }
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-bottom {
      text-align: center;
    }
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block {
      padding: 50px 0;
    }
  }
  footer .my-wrapper .big-footer-block .big-footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
  }
  footer .my-wrapper .big-footer-block .footer-col-logo {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(41.66666666666667% - 30px);
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-logo {
      width: calc(100% - 30px);
      text-align: center;
      order: 2;
    }
  }
  #botForm{
    border: 2px solid  #bbb;
    color: white;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-logo .footer-logo {
      text-align: center;
      margin: 40px;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-logo .logo {
    max-width: 350px;
  }
  footer .my-wrapper .big-footer-block .footer-col-contact {
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(58.333333333333336% - 30px);
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact {
      width: calc(100% - 30px);
      text-align: center;
      order: 1;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;
    border-bottom: 1px solid #fff;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck {
      justify-content: center;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck .footer-ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck .footer-ul {
      width: 80%;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck li a {
    font-size: 18px;
    color: #fff;
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck .footer-tel {
    color: #fff;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact .footer-menu-blck .footer-tel {
      display: none;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .contact-map-block {
    display: flex;
    justify-content: flex-end;
    padding-top: 75px;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact .contact-map-block {
      display: block;
      text-align: center;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .contact-map-block p {
    padding-left: 5%;
    font-size: 18px;
    color: #fff;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact .contact-map-block p {
      padding-left: 0%;
    }
  }
  footer .my-wrapper .big-footer-block .footer-col-contact .contact-map-block .footer-tel-mb {
    display: none;
    color: #fff;
  }
  @media screen and (max-width: 850px) {
    footer .my-wrapper .big-footer-block .footer-col-contact .contact-map-block .footer-tel-mb {
      display: block;
    }
  }
  footer .my-wrapper .big-footer-block .our-block {
    display: block;
  }
  .active {
    display: block !important;
  }
  apper .big-footer-block .our-block {
    display: block;
  }
  .active {
    display: block !important;
  }
  .footer-block-tel{
    display: flex;
    gap: 20px;
  }
  .allRight span{
    font-weight:bold;
    color: white;
  }
  .footer-logo img{
    width:424px;
    height:75px;
  }